<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" type="text/css" href="" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
	
</head>
<body>
	
	<h1>Empleados</h1>
	
	
    <div class="container">
        <table id="tabla" class="table table-striped">
            <thead>
				<tr><th> Id </th> 
					<th> Nombre </th> 
					<th> Puesto </th> 
					<th> Salario </th> 
				</tr>
			</thead>
			
			 
            <tbody>
						
            </tbody>
            
            
            <tfoot>
				<tr><th> Id </th> 
					<th> Nombre </th> 
					<th> Puesto </th> 
					<th> Salario </th> 
				</tr>
			</tfoot>
        </table>
        
        
    </div>
    
    
    
    <div id="form1">
            
            <form class="form" method="POST" th:action="@{${action}}">
			
			<h4>Datos Empleado</h4>
			
			<input type="hidden" name="id" th:value="${empleado?.id} ?: ${#lists.size(empleados)+1}">
			<!-- //*** ${#lists.size(empleados)} ***// Recupera el tamaño de array de empleados y lo injecta 
			en el proceso de editar porque lo ocultamos por defaul, el control de asignacion de id lo controlamos en el 'repository'   -->
			
			<label for="nombre">Nombre:</label>
			<input type="text" name="nombre" th:value="${empleado?.nombre}">
			<label for="faena">Faena:</label>
			<input type="text" name="faena" placeholder="Introduce PEON o JEFE" th:value="${empleado?.faena}">
			<label for="salario">Salario:</label>
			<input type="text" name="salario" th:value="${empleado?.salario} ?: '0'">
			<input type="submit" name="submit" th:value="${boton}">
		</form>
		<a th:href="@{/}">Limpiar</a>
            
        </div>
        
        <div id="form2" >
        
        	
				
				<h4>Buscar por Faena</h4>
				<label for="faena">Faena:</label>
				<input type="text" id="faena" placeholder="Introduce faena o puesto"/>
				<input type="button" value="Buscar Faena" id="buscar">
			
		
		<a th:href="@{/}">Limpiar</a>
        
        </div>
        
    
    	
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script src="" th:src="@{js/index.js}"></script>
    
</body>
</html>